<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Delivery Tracking</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
    integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>
  <main>
    <h1>Track Your Delivery</h1>
    <form id="trackForm">
      <input type="text" id="trackingId" placeholder="Enter Tracking ID" required />
      <button type="submit">Track</button>
    </form>

    <div id="statusDisplay"></div>

    <div id="map" style="height: 400px; margin-top: 20px;"></div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
</body>
</html>